* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #243A73;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

nav {
    background-color: #9B1B30;
    padding: 15px;
    text-align: center;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #FFEA00;
}


.hero {
    position: relative;
    width: 100%;
    height: 100vh; 
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h1 {
    color: #FFFFFF;
    font-size: 38px;
}

.container {
    width: 85%;
    margin: 30px auto;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-bottom: 8px;
}

.card {
    background-color: #FFFFFF;
    border-left: 6px solid #FFEA00;
    padding: 18px;
    margin: 18px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.contact-box {
    background-color: #FFFFFF;
    border: 2px solid #243A73;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background-color: #243A73;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}


.profile-section {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
}

.profile-section img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.profile-text {
    flex: 1;
}

